$bgHeadImg: url(../img/header_background_v2.jpg);
$bodyFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;

$MainBgClr: #efefef;

$clrHdr: #ff5722;
$clrHdrBtn: #efffff;
$clrBrdr: #cfd8dc;
$bgBtnClr: #0401ac;

$clrInpTxt: #757589;
$BgrClr: #ffffff;
$PstDscrp: #cfd8dc;
$h1Clr: #607d8b;
$txtClr: #757575;

$whiteClr: #ffffff;
$blch1: #607d8b;