$bgHeadImg: url(../img/header_background_v1.jpg);
$bodyFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;

$MainBgClr: #ffffff;

$clrHdr: #ececec;
$clrHdrBtn: #ececec;
$clrBrdr: #607d8b;
$bgBtnClr: #01acac;

$clrInpTxt: #010f16;
$BgrClr: #efefef;
$PstDscrp: #e90303;
$h1Clr: #0097a7;
$txtClr: #010f16;

$whiteClr: #ffffff;
$blch1: #010f16;